<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/BabyNames/src/test/java/UrlAmp">
        <classes>
            <class name="UrlAmp.AmpPage">
                <methods>
                    <include name="testAMPValidation"/>
                    <include name="ampValidatorArticle"/>
                    <include name="ampValidatorMovie"/>
                    <include name="ampValidatorPhotos"/>
                    <include name="ampValidatorReviews"/>
                    <include name="ampValidatorVideo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>